<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="sanity">
    <meta http-equiv="Content-Language" content="en">
    <meta name="robots" content="index, follow">

    <title>no-bs.ru</title>
    <meta name="description" content="{# TODO: describe #}" />
    <link rel="canonical" href="https://no-bs.ru" />
    <link rel="icon" type="image/png" href="/favicon.png" /> {# TODO: add an icon #}
    <link rel="stylesheet" href="/style.css" />
    <script src="/generator.js"></script>
</head>

<body class="rows nowrap nogap">
    <header>
        <span id="title">no-bs.ru</span>
    </header>
    <main>
        <h1><code>values.yml</code> generator</h1>
        <div class="cols">
            <div id="inputs">
                <label for="host">Server host</label>
                <input id="host" type="text">
                <label for="port">Inbound port</label>
                <input id="port" type="number" value="443">
                <div>
                    <label for="private-key">Private key</label>
                    <button onclick="randomizeKeyPair()">🔄</button>
                </div>
                <input id="private-key" type="text">
                <label for="public-key">Public key</label>
                <input id="public-key" type="text">
                <label for="reality-target">REALITY spoofing target</label>
                <input id="reality-target" type="text" value="https://presearch.com">
                <label for="reality-server-name">REALITY TLS domain name</label>
                <input id="reality-server-name" type="text" value="presearch.com">
            </div>
            <div id="outputs" class="rows nogap">
                <label for="values-yml-output"><code>values.yml</code></label>
                <textarea id="values-yml-output" readonly></textarea>
            </div>
        </div>
        <p><button onclick="addUser()">➕</button> Users:</p>
        <table id="users">
            <tbody></tbody>
        </table>
    </main>
    <footer>
        <a href="https://github.com/nonk123/no-bs">source code</a>
    </footer>
</body>

</html>
