$width: 680px;
$black: rgb(12, 12, 12);
$white: rgb(232, 232, 232);
$accent: rgb(12, 96, 12);

:root {
    color-scheme: only light;
}

body,
html {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $black;
    background: $white;
    min-height: 100vh;
}

.rows,
.cols {
    display: flex;
    &:not(.nogap) {
        gap: 1em;
    }
    &.nowrap {
        flex-wrap: nowrap;
    }
    &:not(.nowrap) {
        flex-wrap: wrap;
    }
}
.cols {
    flex-direction: row;
}
.rows {
    flex-direction: column;
}

#values-yml-inputs {
    flex: 0 1 240px;
}
#values-yml-outputs {
    flex: 0 1 400px;
    min-height: 300px;
}
#custom-vless {
    max-width: 400px;
}

input {
    display: block;
    width: 100%;
}
textarea {
    display: block;
    width: 100%;
    resize: none;
}
input,
textarea {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    flex-grow: 1;
}

button {
    line-height: 100%;
}

#values-yml-inputs > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

label::after {
    content: ":";
}

h1 {
    margin-top: 0;
}
#title {
    font-size: 2em;
    font-weight: bold;
}

a,
a:visited {
    color: inherit;
}

header,
footer {
    color: $white;
    background: $accent;
}

header,
footer,
main {
    padding: 12px;
}

main {
    align-self: center;
    width: calc(min($width, 100%));
    flex-grow: 1;
}

footer {
    text-align: end;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
}
